*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    width: 100%;
    height: 100%;
}

$primary-colour: #42b983;
$black: #2c3e50;
$bg-colour: "";

button{
    border: none;
    border-radius: 20px;
    font-size: 20px;
    padding: 10px 20px;
    color: white;
    transition: all .4s;
    &:hover{
        cursor: pointer;
    }
}



input{
    outline: none;
    border: none;
    user-select: none;
    font-family: Avenir, Helvetica, Arial, sans-serif;
}

a{
    &:active{
        color: inherit;
    }
    &:visited{
        color: inherit;
    }
}